body {
   color: white;
   font-size: 14px;
   font-family: Arial, Helvetica, sans-serif;
   background: black;
}

/*************************** DESKTOP STYLE *****************************/

/************************* 1. LANDINGPAGE */

/* 1.1 landingpage */

.landingpage {
   width: 100vw;
   height: 100vh;
   background-image: url("../assets/images/landingpage/010\ -\ Murale\ de\ Roa.jpg");
   background-position: center;
   background-size: cover;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
}

/* 1.2 landingpage nav */

.landingpage__nav {
   width: 40vw;
   height: auto;
   display: flex;
   justify-content: space-between;
}

.landingpage__burger {
   display: none;
   position: relative;
}

.landingpage__burger-icon {
   margin-top: 1.5rem;
   z-index: 12;
}

.landingpage__burger-icon:hover rect {
   fill: #fd372a;
}

.landingpage__burger-menu {
   background: #000000dd;
   width: 75vw;
   height: 80vh;
   position: absolute;
   display: none;
   align-items: center;
   z-index: 10;
}

.landingpage__burger-menu--expanded {
   display: inline-block;
   padding-top: 1.5rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
}

.landingpage__link {
   width: 25rem;
   height: 2vw;
   display: flex;
   justify-content: center;
}

.landingpage__link a {
   color: white;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 12px;
   text-align: center;
   letter-spacing: 3px;
   text-decoration: none;
   transition: 0.2s;
   cursor: pointer;
}

.landingpage__link a:hover {
   font-size: 1em;
   color: #fd372a;
}

/* 1.3 landingpage brand */

.landingpage__brand {
   width: auto;
   height: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

.landingpage__logo {
   width: auto;
   height: 20vh;
}
.landingpage__logo img {
   width: auto;
   height: 100%;
}

.landingpage__undertext {
   font-size: 15px;
   letter-spacing: 3px;
   text-transform: uppercase;
   font-weight: bold;
}

.landingpage__scroll-icon {
   width: auto;
   height: 7vh;
   text-align: center;
}

.landingpage__scroll-icon img {
   width: auto;
   height: 100%;
}

.scroll-icon__text {
   font-size: 12px;
   text-transform: uppercase;
   margin-top: 1vh;
}

/*************************** 2. GALLERY */

/* 2.1 Scroll-length */

.gallery__scroll-length {
   width: 100vw;
   height: auto;
   position: relative;
}

.scroll-length__block:last-child {
   height: 10vw;
}

.scroll-length__block {
   height: 100vw;
}

/* 2.3 Content container */

.gallery__content-container {
   width: 100vw;
   height: 100vh;
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   overflow-x: hidden;
   overflow-y: hidden;
}

.gallery__initial-scroll {
   flex: 0 0 auto;
   width: 100vh;
}

.gallery__thumbnail {
   width: 100%;
   padding-top: 5vh;
   font-weight: bold;
   font-size: 1rem;
   text-transform: uppercase;
   text-align: right;
   letter-spacing: 0.15rem;
   display: flex;
   justify-content: right;
}

.gallery__final-scroll {
   flex: 0 0 auto;
   width: 20vw;
}

/* 2.4 artwork */

.artwork {
   width: 100vw;
   height: 100vh;
   padding-left: 20vw;
   padding-top: 5vh;
   padding-bottom: 2vh;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
}

.artwork__figure {
   width: 100%;
   height: 60vw;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   overflow: hidden;
}
.artwork__img {
   width: auto;
   height: 100%;
}

.artwork__figcaption {
   display: none;
}

.artwork__information {
   padding: 2vh 0vh 2vh 0vh;
   display: flex;
   align-items: flex-start;
}

.artwork__title {
   font-size: 4.8em;
   letter-spacing: 8px;
   text-transform: uppercase;
   margin-right: 2vw;
}

.artwork__details {
   width: 34.3%;
   padding-top: 0.8em;
}

.artwork__date {
   letter-spacing: 8px;
   margin-bottom: 0.4em;
}

.artwork__description {
   font-size: 1em;
   font-weight: 400;
   font-style: italic;
}

/**************************** 3. FOOTER */

/* 3.1 Footer */

.footer {
   width: 100vw;
   height: 30vh;
   color: black;
   background: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
}

/* 3.2 Logo */

.footer__logo {
   width: auto;
   height: 20%;
}

.footer__logo img {
   width: auto;
   height: 100%;
}

/* 3.3 Socials */

.footer__socials {
   height: 10vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.footer__socials div {
   width: 6rem;
   height: auto;
   text-align: center;
}

.footer__link a {
   color: black;
   font-size: 0.8em;
   text-align: center;
   text-transform: uppercase;
   font-weight: bold;
   text-decoration: none;
   transition: 0.2s;
   cursor: pointer;
}

.footer__socials div a:hover {
   font-size: 1em;
   color: #fd372a;
}

/* 3.4 Bottom */

.footer__bottom-info {
   width: 90vw;
   height: 4vh;
   border-top: solid black 1px;
   padding-top: 2vh;
   display: flex;
   justify-content: space-around;
}

.footer__bottom-info a {
   color: black;
   font-size: 12px;
   text-decoration: none;
}

.footer__bottom-info a:hover {
   color: #fd372a;
}

/*************************** MEDIA QUERIES *************************/

/* Mobile & lesser screens */

@media screen and (max-width: 1175px) {
   .artwork {
      padding-left: 10vw;
      justify-content: center;
      align-items: flex-start;
   }

   .gallery__final-scroll {
      width: 10vw;
   }

   .artwork__information {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
   }

   .artwork__title {
      font-size: 3em;
      letter-spacing: 6px;
   }

   .artwork__details {
      width: 80%;
   }
}

@media screen and (max-width: 600px) {
   .landingpage__nav {
      display: none;
   }

   .landingpage__burger {
      display: inline-block;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .landingpage__link a {
      font-size: 0.9rem;
   }

   .landingpage__link a:hover {
      font-size: 1.2rem;
   }
}
